/* body {
  background-image: url("images/grass.jpg");
} */

p {
  text-align: center;
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

div.transbox {
  margin: auto;
  width: 50%;
  background-color: black;
  border: 1px solid black;
  opacity: 0.9;
  /* filter: alpha(opacity=100); /* For IE8 and earlier */ */
}

svg {
  height:300px;
  width:500px;
}

.path {
  stroke: red;
}

.circle {
  radius: 20px;
  color: red;
  x_axis: 30px;
  y_axis: 30px;


}

line {
  stroke: red;
  stroke-width: 2;
}

div.transbox p {
  text-align: center;
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
