/* body {
  background-image: url("images/grass.jpg");
} */

p, h1 {
  text-align: center;
  font-weight: bold;
  color: #000000;
}

object {
  width: 70%;
  display: block;
  margin: 0 auto;
}

div.transbox {
  margin: auto;
  width: 50%;
  background-color: white;
  opacity: 0.1;
  /* filter: alpha(opacity=100); /* For IE8 and earlier */ */
}

svg {
  height: 3000px;
  width: 70%;
  display: block;
  margin: 0 auto;
  overflow: scroll;
}

.path {
  stroke: red;
}

/* circle {
  color: red;
} */

line {
  display: block;
  margin: 0 auto;
  stroke: red;
  stroke-width: 2;
}

div.transbox p {
  text-align: center;
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
